<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Lavaboom is <b>going mobile</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body">
        <div>
          Bill began learning ionic!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          Bill still has a long way to go here.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
